@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url("assets/font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: AvenirNextLTPro-It;
  src: url("assets/font/AvenirNextLTPro-It.otf");
}
@font-face {
font-family: AvenirNextLTPro-Regular;
src: url("assets/font/AvenirNextLTPro-Regular.otf");
}
*{box-sizing: border-box;}
body, html{
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
.header {
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-color: white;
  width: 100%;
  font-family: 'AvenirNextLTPro-Regular';
  box-shadow: 0vw 0.1vw 0.5vw gray;
  z-index:1;
}

.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 1.2vw 1.7vw;
  text-decoration: none;
  font-family: 'AvenirNextLTPro-Bold';
  font-size: 1.2vw; 
  line-height: 4.2vw;
}

.header img{
  height:100%;
}
.logo{
  float: left;
  color: black;
  padding: 0.6vw 3vw  0.6vw 4vw;
  height: 6.5vw;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
  margin-right: 8vw;
}

.header-right a.active {
  color: #44b657;
}

.icon {
  display: none;
}

  .carousel {
    background: rgb(245, 245, 245);
    margin-bottom: 2vw;
  }
  .carousel-cell {
    width: 100%;
    margin-right: 2.5vw;
    counter-increment: carousel-cell;
    display: block;
    opacity: 0;
  }

  .carousel-cell.is-selected {
    width: 100%;
    margin-right: 2.5vw;
    counter-increment: carousel-cell;
    display: block;
    opacity: 1;
  }

  .carousel-cell img{
    width: 50%;
  }
  .caro{
    width: 40%;
    float: right;
  }
  
  .button {
    display: inline-block;
    padding: 0.5vw 1.5vw;
    font-size: 1vw;
    border: 0.2vw solid black;
    background: rgb(245, 245, 245);
    color: #09F;
    margin-right: 0.5vw;
  }
  
  .button:hover {
    background-color: white;
    border-color: #BBB;
    cursor: pointer;
  }
  
  .button:focus {
    outline: thin dotted;
    outline: 0.5vw auto -webkit-focus-ring-color;
    outline-offset: -0.2vw;
    background-color: white;
  }
  
  .button:active {
    background-color: #EEE;
    box-shadow: inset 0 0.2vw 1vw hsla(0, 0%, 0%, 0.3);
  }
  
  .button.is-selected {
    background-color: #44b657;
    color: white;
  }
  
  /* ---- button-group ---- */
  
  .button-group {
    display: block;
    align-items : right;
    position: relative;
    padding-bottom: 2vw;
  }
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .button-group .button {
    float: left;
  }
  
  /* ---- button-row ---- */
  
  .button-row {
    text-align: center;
  }

  footer img
  {
    width: 100%;
    position: relative;
  }

  .flickity-page-dots {
    bottom: 0vw;
    padding-left: 38vw;
    text-align: left;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 1vw;
    height: 1vw;
    opacity: 1;
    background: gray;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: #09f;
  }

  .content{
    width: 100%;
    position: relative;
    padding: 2% 8%;
    background: rgb(245, 245, 245);
  }

  .content h1{
    font-size: 1.8vw;
    font-family: 'AvenirNextLTPro-Bold';
    color: #09F;
  }

  .all-projects{
    width: 100%;
    -moz-column-count: 2;
    -moz-column-gap: 2vw;
    -webkit-column-count: 2;
    -webkit-column-gap: 2vw;
    position: relative;
    font-size: 1.4vw;
    font-family: 'AvenirNextLTPro-Bold';
    color: black;
  }

  .carousel h1{
    font-size: 2.8vw;
    font-family: 'AvenirNextLTPro-Bold';
    color: black;
  }
  .carousel p{
    color: #09F;
    font-family: 'AvenirNextLTPro-Regular';
  }

  @media screen and (max-width: 982px) {
    .header-right a:not(.active), .dropdown .dropbtn {
      display: none;
    }
    .header-right a.icon {
      float: right;
      display: block;
    }
    .header-right.responsive {position: relative;}
      .header-right.responsive .icon {
        display: block;
        position: absolute;
        width: 8.5%;
        right: -8.5%;
        top: 0;
      }
      
      .header-right.responsive a {
        float: right;
        display: block;
        text-align: right;
        margin-right:8.5%;
        width: 80%;
      }
  }