@font-face {
    font-family: AvenirNextLTPro-Bold;
    src: url("assets/font/AvenirNextLTPro-Bold.otf");
  }
  @font-face {
    font-family: AvenirNextLTPro-It;
    src: url("assets/font/AvenirNextLTPro-It.otf");
  }
  @font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url("assets/font/AvenirNextLTPro-Regular.otf");
  }
  *{box-sizing: border-box;}
  body, html{
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
  }
  .header {
    text-align: center;
    position: absolute;
    overflow: hidden;
    background-color: white;
    width: 100%;
    font-family: 'AvenirNextLTPro-Regular';
    box-shadow: 0vw 0.1vw 0.5vw gray;
    z-index:1;
  }

  .header-right a {
    float: left;
    color: black;
    text-align: center;
    padding: 1.2vw 1.7vw;
    text-decoration: none;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 1.2vw; 
    line-height: 4.2vw;
  }
  
  .header img{
    height:100%;
  }
  .logo{
    float: left;
    color: black;
    padding: 0.6vw 3vw  0.6vw 4vw;
    height: 6.5vw;
  }
  
  .header-right a:hover {
    background-color: #ddd;
    color: black;
  }

  .header-right a.active {
    color: #44b657;
  }
  
  .header-right {
    float: right;
    margin-right: 8vw;
  }
  
  .icon {
    display: none;
  }
  
  .hero-image {
    
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    color: white;
    top: 50vh;
    left: 8vw;
    font-family:  'AvenirNextLTPro-Bold';
    width: 45%;
    font-size: 1vw;
  }

  .more{
    display: inline-block;
    padding: 1.5vw 2.5vw;
    font-size: 1.8vw;
    border: none;
    background-color: #44b657;
    color: white;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%; 
    word-wrap:break-word;
    table-layout: fixed;
  }
  .grid-content img:hover {
    background-color: black;
    opacity: 0.5;
  }

  .grid-content{
      width: 16.6vw;
  }
  .grid-content img{
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay{
    width: 100%;
    display: none;
    height: auto;
    position: relative;
    margin-bottom: 20vw;
    background-color: #008CBA;
  }

  .content{
    width: 100%;
    position: relative;
    padding: 2% 8%;
    background: rgb(245, 245, 245);
  }
  .content h1{
    font-size: 1.8vw;
    font-family: 'AvenirNextLTPro-Bold';
    color: #09F;
  }

  .content p{
    line-height: 1.5;
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: 600;
    font-size: 1.2vw;
    color: gray;
  }

  .about-img{
    width: 48%;
    position: relative;
  }
  .description{
    width: 33%;
    position: relative;
    float: right;
  }
  .abo{
    width: 48%;
    font-size: 1vw;
    position: relative;
    float: right;
  }
  .description h2{
    font-size: 1.9vw;
    font-family: 'AvenirNextLTPro-Bold';
    color: black;
  }
  .desc pre{
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-size: 1vw;
    color: gray;
  }
  .desc strong{
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 1.2vw;
    color: black;
  }

  .carousel {
    background: rgb(245, 245, 245);
    margin-bottom: 2vw;
  }
  .carousel-cell {
    width: 42.5%;
    margin-right: 2.5vw;
    counter-increment: carousel-cell;
  }

  .carousel-cell img{
    width: 100%;
  }
  
  .button {
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 1.5vw;
    font-size: 1vw;
    border: 0.2vw solid black;
    background: rgb(245, 245, 245);
    color: #09F;
    margin-right: 0.5vw;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
  
  .button:hover {
    background-color: white;
    border-color: #BBB;
    cursor: pointer;
  }
  
  .button:focus {
    outline: thin dotted;
    outline: 0.5vw auto -webkit-focus-ring-color;
    outline-offset: -0.2vw;
    background-color: white;
  }
  
  .button .active {
    background-color: #EEE;
    box-shadow: inset 0 0.2vw 1vw hsla(0, 0%, 0%, 0.3);
  }
  
  .button.is-selected {
    background-color: #44b657;
    color: white;
  }
  
  /* ---- button-group ---- */
  
  .button-group {
    display: block;
    align-items : right;
    position: relative;
    padding-bottom: 2vw;
  }
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .button-group .button {
    float: left;
  }
  
  /* ---- button-row ---- */
  
  .button-row {
    text-align: center;
  }

 .client-img
  {
    width: 13.8%;
    position: relative;
  }

  footer img
  {
    width: 100%;
    position: relative;
  }

  .flickity-page-dots {
    bottom: 0vw;
    padding-left: 12vw;
    text-align: left;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 1;
    background: transparent;
    border: 0.2vw solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white;
  }

  .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #44b657;
    color: white;
  }

  .nav-pills>li
{float:left}
.nav-pills>li>a
{border-radius:0; text-decoration: none;
  display: inline-block;
  padding: 1vw 2.2vw;
  font-size: 1.8vw;
  border: 0.2vw solid black;
  background: rgb(245, 245, 245);
  color: #09F;
  margin-right: 0.5vw;}
.nav-pills>li+li
{margin-left:0.2vw}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
{color:#fff;background-color:#44b657}

iframe{
  width: 100%;
  height: 30vw;
}


@media screen and (max-width: 982px) {
  .header-right a:not(.active), .dropdown .dropbtn {
    display: none;
  }
  .header-right a.icon {
    float: right;
    display: block;
  }
  .header-right.responsive {position: relative;}
    .header-right.responsive .icon {
      display: block;
      position: absolute;
      width: 8.5%;
      right: -8.5%;
      top: 0;
    }
    
    .header-right.responsive a {
      float: right;
      display: block;
      text-align: right;
      margin-right:8.5%;
      width: 80%;
    }
}

@media screen and (max-width: 982px) {
  
  .hero-text {
    text-align: center;
    position: absolute;
    color: white;
    top: 50vh;
    left: 8vw;
    font-family:  'AvenirNextLTPro-Bold';
    width: 80%;
    font-size: 1vw;
  }
}